*{
    margin: 0;
    padding: 0;
}
body{
    background-color:#B3DEE2;
    text-align: center;
}
/* navbar */
nav{
  
background-color: black;
color: aqua;
height: 60px;
display: flex;
align-items: center;
justify-content: center;
}

nav ul{
    list-style: none;
}
/* container */
.container{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px;
}
.game{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    
}
.box{
    width: 30%;
    height: 100px;
    border-radius: 10px;
    border: none;
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
    background-color: #EAF2D7;
    color: #CB2A5D;
    font-size: 10vmin;
    margin: 5px;
}
.box:hover{
    background-color: rgb(217, 217, 217);
}
.reset{
    height: 40px;
    width: 90px;
    font-size: 2.5vmin;
    border-radius: 10px;
    border: none;
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
    background-color: #e2f6b5;
    color: #129eab;   
    transition: all 0.3s;
}

.reset:hover{
    background-color:#000000 ;
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

.message{
    color: #129eab;
    font-size: 100px;
    font-weight: 900;
}
/* for diffrent screen widths-Responsive */
@media  screen and  (max-width: 700px) {
    .game {
        width: 80%;
    }
}
@media screen and  (max-width: 420px) {
    .box{
        width: 25%;
        height: 50px;
    }
    .game {
        width: 70%;
    }
    .container{
        width: auto;
    }
}
@media screen and  (max-width: 250px) {
    .box{
        width: 15%;
        height: 50px;
    }
    .game {
        width: 70%; 
    }
    .container{
        width: auto;
    }
}
/* footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;  
    width: 100%;
    position: absolute;  
    bottom: 0;
    margin-bottom: -10%;  

}

.footer-content p {
    margin: 5px 0;
    font-size: 14px;
}

.social-icons {
    list-style-type: none;
    padding: 0;
}

.social-icons li {
    display: inline-block;
    margin: 0 10px;
}

.social-icons a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
}

.social-icons a:hover {
    color: #00aaff;
}
