*{
    margin: 0;
    padding: 0;
}
body{
    background-color:#B3DEE2;
    text-align: center;
}
/* navbar */
nav{
  
background-color: black;
color: aqua;
height: 60px;
display: flex;
align-items: center;
justify-content: center;
}

nav ul{
    list-style: none;
}
/* container */
.container{
    height: 100%;
    display: flex;
    justify-content: center;
    padding: 50px;
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}
.box{
    height: 113.6px;
    width: 113.6px;
    border-radius: 10px;
    border: none;
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
    background-color: #EAF2D7;
    color: #CB2A5D;
    font-size: 10vmin;
}
.reset{
    height: 40px;
    width: 90px;
    font-size: 2.5vmin;
    border-radius: 10px;
    border: none;
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
    background-color: #e2f6b5;
    color: #129eab;   
}

.reset:hover{
    background-color:#dded84 ;
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

.message{
    color: #129eab;
    font-size: 100px;
    font-weight: 900;
}